In [4]:
import syft as sy
import torch as t
import numpy as np
import pandas as pd

Launch a Duet Sever

In [5]:
duet = sy.launch_duet(loopback = True)

ðŸŽ¤  ðŸŽ¸  â™ªâ™ªâ™ª Starting Duet â™«â™«â™«  ðŸŽ»  ðŸŽ¹

â™«â™«â™« > DISCLAIMER: Duet is an experimental feature currently in beta.
â™«â™«â™« > Use at your own risk.


    > â¤ï¸ Love Duet? Please consider supporting our community!
    > https://github.com/sponsors/OpenMined

â™«â™«â™« > Punching through firewall to OpenGrid Network Node at:
â™«â™«â™« > http://ec2-18-218-7-180.us-east-2.compute.amazonaws.com:5000
â™«â™«â™« >
â™«â™«â™« > ...waiting for response from OpenGrid Network...
â™«â™«â™« > DONE!

â™«â™«â™« > STEP 1: Send the following code to your Duet Partner!

import syft as sy
duet = sy.join_duet(loopback=True)

Exception: failed to load client ID

Read Data and upload data to Duet

In [10]:
data = pd.read_csv("./data/german_data_1.csv")

In [11]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad